<% provide(:title, "Chart") %>

<div id="chartdiv"></div>

<script type="text/javascript">
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 40,
    "marginLeft": 40,
    "autoMarginOffset": 20,
    "mouseWheelZoomEnabled":true,
    "dataDateFormat": "YYYY-MM-DD",
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left",
        "ignoreAxisWidth":true
    }],
    "legend": {
        "useGraphSettings": true
    },
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
    },
    "graphs": [
    <% @query.each do |name| %>
    {
        "id": "<%= name %>",
        "balloon":{
          "drop":true,
          "adjustBorderColor":false,
          "color":"#ffffff"
        },
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "title": "<%= name %>",
        "useLineColorForBulletBorder": true,
        "valueField": "<%= name %>",
        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
    },
    <% end %>
    ],

    <% @query.each do |name| %>
    "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis":false,
        "offset":30,
        "scrollbarHeight": 80,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount":true,
        "color":"#AAAAAA"
    },
    "chartCursor": {
        "pan": false,
        "valueLineEnabled": false,
        "valueLineBalloonEnabled": true,
        "cursorAlpha":1,
        "cursorColor":"#258cbb",
        "limitToGraph":"g1",
        "valueLineAlpha":0.2,
        "valueZoomable":true
    },

    <% end %>

    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    },
    "dataProvider": [
      <% @data.each do |point| %>
        {
          "date": "<%= point[:date].strftime('%Y-%m-%d') %>",
          <% point[:val].each_index do |i| %>
            "<%= @query[i] %>": <%= point[:val][i] %>,
          <% end %>
        },
      <% end %>
    ]
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>
